<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script>
    window.onload = function () {
    };

    function redirectionHome() {
      window.location.href = '/';
    }

    function assureOrder() {
      if ([[${carts.size <= 0}]]) {
        alert("1개 이상인 경우에만 주문 가능합니다");
        return false;
      }
      if (confirm("정말 주문하시겠습니까?")) {
        location.href = '/orders/add';
      } else {
        return false;
      }
    }

    function deleteCart(cartId) {
      $.ajax({
        url: '/carts/delete/' + cartId,
        type: 'POST',
        data: {},
        success: function (response) {
          if (response == "OK") {
            location.href = '/cart-list';
          }
        },
        error: function (error) {
          console.error('Error sending data', error);
        }
      });

    }

    function deleteCarts(teamId) {
      if (confirm('장바구니를 모두 비우시겠습니까?')) {

        $.ajax({
          url: '/carts/deleteAll/' + teamId,
          type: 'POST',
          data: {},
          success: function (response) {
            if (response == "OK") {
              location.href = '/cart-list';
            }
          },
          error: function (error) {
            console.error('Error sending data', error);
          }
        });

      }
    }

  </script>
</head>
<body>
<div class="container" style="max-width: 800px">
  <div class="py-5 text-center">
    <h2>장바구니</h2>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-secondary me-1" onclick="redirectionHome()"
                type="button">홈</button>
        <button class="btn btn-primary me-1" th:if="${session.types == 'master'}"
                th:onclick="|location.href='@{/items/add}'|"
                type="button">상품 등록</button>
        <button class="btn btn-primary me-1"
                th:onclick="|location.href='@{/item-list}'|"
                type="button">상품 목록</button>
        <button class="btn btn-success me-1"
                th:onclick="|location.href='@{/order-list}'|"
                type="button">주문 목록</button>
        <button class="btn btn-warning"
                th:onclick="|location.href='@{/cart-list}'|"
                type="button">장바구니</button>
      </div>
    </div>
  </div>
  <hr class="my-0">
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>상품명</th>
        <th>총 가격</th>
        <th>수량</th>
        <th>판매자</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${carts.size >= 1}" th:each="cart : ${carts}">
        <!--TODO 상품 상세로 url 연결!-->
        <td><a href="#" th:text="${cart.getItem().getId()}">상품 ID</a></td>

        <!--TODO 상품 상세로 url 연결!-->
        <td class="w-25"><a class="text-wrap" href="#" th:text="${cart.getItem().getName()}">상품명</a></td>

        <td th:text="${#numbers.formatDecimal(cart.getPrice(), 1, 2)}">10000</td>

        <!-- TODO 추후 장바구니 내에서 수량 변경 가능하도록 수정!-->
        <td th:text="${#numbers.formatInteger(cart.getQty(), 1, 'DEFAULT')}">10</td>

        <td th:text="${cart.getItem().getSeller().getName()}">판매자</td>
        <td><button class="btn btn-primary" type="button" th:onclick="deleteCart('[[${cart.getId()}]]')">비우기</button></td>
      </tr>
      <tr>
        <td>합산</td>
        <td></td>
        <td th:text="${#numbers.formatDecimal(totalPrice, 1, 2)}">합산 가격</td>
        <td th:text="${#numbers.formatInteger(totalQty, 1, 'DEFAULT')}">합산 수량</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-secondary me-1" th:onclick="deleteCarts('[[${session.id}]]')" type="button">모두 비우기</button>
        <button class="btn btn-secondary me-2" onclick="assureOrder()" type="button">주문</button>
      </div>
    </div>
  </div>

  <!-- 페이징 바 -->
<!--  <div class="row" id="pageSection" th:style="${paging == true ? 'display:block' : 'display:none'}">-->
<!--      <ul class="pagination justify-content-center">-->
<!--        <li class="page-item"><a class="page-link" th:if="${hasPrev == true}" th:href="@{/cart-list(page=${prev})}">Prev</a></li>-->
<!--        <li class="page-item" th:classappend="${pageNumber == curPage} ? 'active'" th:each="pageNumber : ${#numbers.sequence(startPage,endPage)}">-->
<!--          <a class="page-link" th:href="@{/cart-list(page=${pageNumber})}" th:text="${pageNumber}">current</a>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" th:if="${hasNext == true}" th:href="@{/cart-list(page=${next})}">Next</a></li>-->
<!--      </ul>-->
<!--  </div>-->

</div> <!-- /container -->
<!--jQuery-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>