<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script>
    function redirectionHome() {
      window.location.href = '/';
    }
  </script>
</head>
<body>
<div class="container" style="max-width: 800px">
  <div class="py-5 text-center">
    <h2>주문 내역</h2>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-secondary me-2" onclick="redirectionHome()"
                type="button">홈</button>
        <button class="btn btn-primary"
                th:onclick="|location.href='@{/cart-list}'|"
                type="button">장바구니</button>
      </div>
    </div>
  </div>
  <hr class="my-0">
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>판매자</th>
<!--        <th>상태</th>-->
<!--        <th></th>-->
      </tr>
      </thead>
      <tbody>
      <tr th:each="orderItem : ${orderItems}">
        <td><a href="#" th:text="${orderItem.id}">상품 ID</a></td>
        <td class="w-25"><a class="text-wrap" href="#" th:text="${orderItem.getItem().name}">상품명</a></td>
        <td th:text="${orderItem.getOrderPrice()}">10000</td>
        <td th:text="${orderItem.getCount()}">10</td>
        <td th:text="${orderItem.getItem().getSeller().name}">판매자</td>
<!--        <td class="fw-bolder" th:classappend="${item.status.toString() == 'OPEN'} ? 'text-success' : 'text-danger'"-->
<!--            th:text="${item.status}">상태</td>-->
<!--        <td><a th:href="@{/items/{itemId}/edit(itemId=${item.id})}"-->
<!--               class="btn btn-primary" role="button">수정</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>

<!--  &lt;!&ndash; 페이징 바 &ndash;&gt;-->
<!--  <div class="row" id="pageSection">-->
<!--      <ul class="pagination justify-content-center">-->
<!--        <li class="page-item"><a class="page-link" th:if="${hasPrev == true}" th:href="@{/item-list(page=${prev})}">Prev</a></li>-->
<!--        <li class="page-item" th:classappend="${pageNumber == curPage} ? 'active'" th:each="pageNumber : ${#numbers.sequence(startPage,endPage)}">-->
<!--          <a class="page-link" th:href="@{/item-list(page=${pageNumber})}" th:text="${pageNumber}">current</a>-->
<!--        </li>-->
<!--        <li class="page-item"><a class="page-link" th:if="${hasNext == true}" th:href="@{/item-list(page=${next})}">Next</a></li>-->
<!--      </ul>-->
<!--  </div>-->

</div> <!-- /container -->
</body>
</html>