<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>K&Y Kiosk Project</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css"/>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
  <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet"/>
  <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet"/>
  <link th:href="@{/css/bootstrap-utilities.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <style>
    body {
      background-color: #f8f9fa;
    }

    h2 {
      font-weight: bold;
      color: #343a40;
    }

    .table-wrapper {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .table th, .table td {
      vertical-align: middle;
    }
  </style>
</head>
<body>

<div th:replace="~{header :: common-nav}">
  <p>레이아웃 네비</p>
</div>

<div th:replace="~{header :: common-header}">
  <p>레이아웃 헤더</p>
</div>

<section class="features-icons" id="scroll-target">
  <div class="container-fluid" style="width: 1000px;">

    <!-- 메뉴 명 -->
    <div class="text-center mb-xl-4">
      <h2>주문 목록</h2>
    </div>

    <!-- 상단 버튼들 -->
    <div class="d-flex justify-content-end mb-4">
<!--          <button class="btn btn-secondary me-1" onclick="redirectionHome()"-->
<!--                  type="button">홈</button>-->
      <button class="btn btn-primary me-1" th:if="${session.types == 'master'}"
              th:onclick="|location.href='@{/item/add}'|"
              type="button">상품 등록</button>
      <button class="btn btn-success me-1"
              th:if="${session.types} == 'master' or ${session.types} == 'team'"
              th:onclick="|location.href='@{/order-list}'|"
              type="button">주문 목록</button>
      <button class="btn btn-warning me-1"
              th:if="${session.types} == 'master' or ${session.types} == 'team'"
              th:onclick="|location.href='@{/cart-list}'|"
              type="button">장바구니</button>
      <button class="btn btn-primary"
              th:onclick="|location.href='@{/item-list}'|"
              type="button">상품 목록</button>
    </div>

    <!-- 테이블 영역 -->
    <div class="table-wrapper">
      <input type="hidden" id="sessionId" th:value="${session.id}">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>주문 ID</th>
          <th>주문일</th>
          <th>주문 상태</th>
          <th>결제 금액</th>
          <th>총 수량</th>
          <th>Street</th>
          <th>City</th>
          <th>Zipcode</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="order : ${orders}">
            <td><a th:href="@{orders/{orderId}(orderId=${order.getId()})}" th:text="${order.getId()}">주문 ID</a></td>
            <td th:text="${#temporals.format(order.getCreatedDate, 'yyyy-MM-dd HH:mm')}">주문일</td>
            <td class="fw-bolder" th:classappend="${order.getStatus().toString() == 'ORDERED'} ? 'text-success' : 'text-danger'"
                th:text="${order.getStatus()}">주문 상태</td>
            <td th:text="${#numbers.formatDecimal(order.calTotalPrice(), 1, 2)}">100000</td>
            <td th:text="${#numbers.formatInteger(order.calTotalQty(), 1, 'DEFAULT')}">10</td>
            <td th:text="${order.getDelivery().getAddress().getStreet()}">Street</td>
            <td th:text="${order.getDelivery().getAddress().getCity()}">City</td>
            <td th:text="${order.getDelivery().getAddress().getZipcode()}">Zipcode</td>
            <td><button class="btn btn-primary" type="button"
                        th:onclick="|location.href='@{orders/{orderId}(orderId=${order.getId()})}'|">자세히</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 페이징 바 -->
    <div class="row mt-4" id="pageSection">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" th:if="${hasPrev == true}"
               th:href="@{/order-list(page=${prev})}">Prev</a></li>
          <li class="page-item" th:classappend="${pageNumber == curPage} ? 'active'"
              th:each="pageNumber : ${#numbers.sequence(startPage,endPage)}">
            <a class="page-link" th:href="@{/order-list(page=${pageNumber})}"
               th:text="${pageNumber}">current</a>
          </li>
          <li class="page-item">
            <a class="page-link" th:if="${hasNext == true}"
               th:href="@{/order-list(page=${next})}">Next</a></li>
        </ul>
    </div>

  </div> <!-- /container -->
</section>

<div th:replace="~{footer :: common-footer}">
  <p>레이아웃 푸터</p>
</div>

<script>
  function redirectionHome() {
    window.location.href = '/';
  }
  function notYet() {
    alert("작업중입니다..");
  }

  //스크롤 위치 이동
  window.addEventListener('load', function() {
    const targetElement = document.getElementById('scroll-target');
    if (targetElement) {
      targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
  });
</script>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>