<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }

    .notice-content img {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
  </style>
  <script>
    function redirectionHome() {
      window.location.href = '/';
    }
  </script>
</head>
<body>
<div class="container mt-5">
  <!-- Notice Title -->
  <div class="row">
    <div class="col text-center">
      <h2 class="mb-3" th:text="${notice.title}">Notice Title</h2>
    </div>
  </div>

  <!-- Notice Meta Information -->
  <div class="row mb-4">
    <div class="col-md-6">
      <p><strong>작성자 :</strong> Master</p>
    </div>
    <div class="col-md-6 text-md-end">
      <p th:utext="'<strong>등록일 :</strong> ' + ${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></p>
      <p th:utext="'<strong>수정일 :</strong> ' + ${#temporals.format(notice.modifiedDate, 'yyyy-MM-dd HH:mm')}"></p>
      <p th:utext="'<strong>조회수 :</strong> ' + ${notice.viewCnt}"></p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-secondary me-1" onclick="redirectionHome()"
                type="button">홈</button>
        <button class="btn btn-primary me-1"
                th:onclick="|location.href='@{/notice-list}'|"
                type="button">공지 목록</button>
      </div>
    </div>
  </div>

  <!-- Notice Content -->
  <div class="row mb-4">
    <div class="col notice-content">
      <!-- Images included in the content -->
      <img th:if="${notice.getImg1()}" th:src="|/images/${notice.getImg1()}|">
      <img th:if="${notice.getImg2()}" th:src="|/images/${notice.getImg2()}|">
      <img th:if="${notice.getImg3()}" th:src="|/images/${notice.getImg3()}|">
      <img th:if="${notice.getImg4()}" th:src="|/images/${notice.getImg4()}|">
      <img th:if="${notice.getImg5()}" th:src="|/images/${notice.getImg5()}|">
      <img th:if="${notice.getImg6()}" th:src="|/images/${notice.getImg6()}|">

      <p th:text="${notice.getContent()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et suscipit eros.
        Sed nec venenatis quam. Cras auctor dapibus nunc sit amet malesuada. Phasellus at suscipit enim.
        Nam euismod pharetra turpis a aliquam. Quisque at lorem id turpis ornare faucibus at non felis.</p>
    </div>
  </div>

  <hr class="my-3">

  <div class="row mb-3" th:if="${session.types == 'master'}">
    <div class="col">
      <div class="float-end">
        <button class="btn btn-primary me-1"
                th:onclick="|location.href='@{/notice/update/{noticeId}/(noticeId=${notice.id})}'|"
                type="button">수정</button>
        <button class="btn btn-secondary me-1"
                th:onclick="|confirmDelete(${notice.id})|"
                type="button">삭제</button>
      </div>
    </div>
  </div>

  <!-- Previous/Next Buttons -->
<!--  <div class="row">-->
<!--    <div class="col text-start">-->
<!--      <a href="#" class="btn btn-secondary">&laquo; Previous</a>-->
<!--    </div>-->
<!--    <div class="col text-end">-->
<!--      <a href="#" class="btn btn-secondary">Next &raquo;</a>-->
<!--    </div>-->
<!--  </div>-->

</div>
<script>
  function confirmDelete(noticeId) {
    if (confirm("정말로 이 공지를 삭제하시겠습니까?")) {
      location.href = '/notice/delete/' + noticeId;
    }
  }
</script>
</body>
</html>