<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script>
    function redirectionHome() {
      window.location.href = '/';
    }

    function notYet() {
      alert("작업중입니다..");
    }
  </script>
</head>
<body>
<div class="container-fluid">
  <div class="py-5 text-center">
    <h2>전체 팀 목록</h2>
  </div>

  <!-- 버튼들 -->
  <div class="row mb-3">
    <div class="col mb-2">
      <div class="float-end">
        <button class="btn btn-secondary me-2" onclick="redirectionHome()" type="button">홈</button>
        <button class="btn btn-secondary me-2"
                th:if="${session.types} == 'master' or ${session.types} == 'team'"
                th:onclick="|location.href='@{/seller/seller-list}'|" type="button">판매자 목록</button>
        <button class="btn btn-secondary"
                th:if="${session.types} == 'master' or ${session.types} == 'team'"
                th:onclick="|location.href='@{/seller/partner-list/{teamId}(teamId=${session.id})}'|"
                type="button">제휴 판매자 목록</button>
      </div>
    </div>

    <!-- 검색창 폼 -->
    <div class="col-12">
      <form action="#" method="GET" th:object="${cond}" th:action="@{team-list}">
        <div class="row g-2">
          <div class="col">
            <input type="text" class="form-control" placeholder="ID" name="id" th:field="*{id}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="팀 명" name="name" th:field="*{name}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="연락처" name="phNumber" th:field="*{phNumber}">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="티켓 수" name="tickets" th:field="*{tickets}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="이메일" name="email" th:field="*{email}">
          </div>
          <div class="col">
            <select class="form-select" name="status">
              <option value="" th:selected="*{status == null}">상태 선택</option>
              <option value="ACTIVE" th:selected="*{status != null and status.toString() == 'ACTIVE'}">ACTIVE</option>
              <option value="DORMANT" th:selected="*{status != null and status.toString() == 'DORMANT'}">DORMANT</option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Street" name="street" th:field="*{street}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="City" name="city" th:field="*{city}">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Zipcode" name="zipcode" th:field="*{zipcode}">
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" type="submit">검색</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr class="my-0">

  <!-- 테이블 -->
  <div>
    <input type="hidden" id="sessionId" th:value="${session.id}">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>팀 명</th>
        <th>연락처</th>
        <th>이메일</th>
        <th>티켓</th>
        <th>생성일</th>
        <th>수정일</th>
        <th>상태</th>
        <th>Street</th>
        <th>City</th>
        <th>Zipcode</th>
<!--        <th>비고</th>-->
      </tr>
      </thead>
      <tbody>
        <tr th:each="team : ${teams}" th:if="${team.status.toString()} != 'MASTER'">
          <td><a href="#" th:text="${team.id}" onclick="notYet()">팀 ID</a></td>
          <td><a href="#" th:text="${team.name}" onclick="notYet()">팀 명</a></td>
          <td th:text="${team.phNumber}">333-333-3333</td>
          <td th:text="${team.email}">us@us.or</td>
          <td th:text="${team.tickets}">3000</td>
          <td th:text="${#temporals.format(team.createdDate, 'yyyy-MM-dd')}">생성일</td>
          <td th:text="${#temporals.format(team.modifiedDate, 'yyyy-MM-dd')}">수정일</td>
          <td class="fw-bolder"
              th:classappend="${team.status != null and team.status.toString() == 'ACTIVE'} ? 'text-success' : 'text-secondary'"
              th:text="${team.status}">상태</td>
          <td th:text="${team.getStreet()}">Street</td>
          <td th:text="${team.getCity()}">City</td>
          <td th:text="${team.getZipcode()}">Zipcode</td>
<!--          <td th:text="${team.remark}">비고</td>-->
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 페이징 바 -->
  <div class="row" id="pageSection">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" th:if="${hasPrev == true}"
           th:href="@{team-list(page=${prev}, id=${cond.id}, name=${cond.name},
           phNumber=${cond.phNumber}, tickets=${cond.tickets}, email=${cond.email},
           status=${cond.status}, street=${cond.street}, city=${cond.city},
           zipcode=${cond.zipcode})}">Prev</a></li>
      <li class="page-item" th:classappend="${pageNumber == curPage} ? 'active'"
          th:each="pageNumber : ${#numbers.sequence(startPage,endPage)}">
        <a class="page-link" th:href="@{team-list(page=${pageNumber}, id=${cond.id}, name=${cond.name},
           phNumber=${cond.phNumber}, tickets=${cond.tickets}, email=${cond.email},
           status=${cond.status}, street=${cond.street}, city=${cond.city},
           zipcode=${cond.zipcode})}"
           th:text="${pageNumber}">current</a>
      </li>
      <li class="page-item">
        <a class="page-link" th:if="${hasNext == true}"
           th:href="@{team-list(page=${next}, id=${cond.id}, name=${cond.name},
           phNumber=${cond.phNumber}, tickets=${cond.tickets}, email=${cond.email},
           status=${cond.status}, street=${cond.street}, city=${cond.city},
           zipcode=${cond.zipcode})}">Next</a></li>
    </ul>
  </div>

</div> <!-- /container -->
</body>
</html>