<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>K&Y Kiosk Project</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/assets/favicon.ico}" type="image/x-icon"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-utilities.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container-custom {
            max-width: 900px;
            margin: 50px auto;
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        h2 {
            font-weight: bold;
            color: #343a40;
            margin-bottom: 20px;
        }

        .notice-content img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .meta-info p {
            margin: 0;
            color: #6c757d;
        }

        .btn-danger:hover {
            background-color: #c82333;
        }

        hr {
            border: 0;
            height: 1px;
            background: #e9ecef;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .readonly-select {
            pointer-events: none; /* 클릭 이벤트를 무시 */
            background-color: #e9ecef; /* 비활성화된 배경 색상 */
            color: #6c757d; /* 비활성화된 텍스트 색상 */
        }
    </style>
</head>
<body>

<div th:replace="~{header :: common-nav}">
    <p>레이아웃 네비</p>
</div>

<div th:replace="~{header :: common-header}">
    <p>레이아웃 헤더</p>
</div>

<section class="features-icons" id="scroll-target">

    <div class="container-custom" style="max-width: 700px">

        <div class="row">
            <div class="col text-center">
                <h2>팀 정보 수정</h2>
            </div>
        </div>

        <!-- Item Meta Information -->
        <div class="row mb-2">
            <div class="col text-end">
                <p th:utext="'<strong>가입일 :</strong> ' + ${#temporals.format(teamUpdateForm.createdDate, 'yyyy-MM-dd HH:mm')}"></p>
                <p th:utext="'<strong>수정일 :</strong> ' + ${#temporals.format(teamUpdateForm.modifiedDate, 'yyyy-MM-dd HH:mm')}"></p>
                <button type="button" class="btn btn-primary"
                        onclick="location.href='/checkPwForm/pw'">비밀번호 변경</button>
            </div>
        </div>

            <!--글로벌 오류 메시지-->
<!--            <div th:if="${#fields.hasGlobalErrors()}">-->
<!--                <p class="field-error mb-3" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>-->
<!--            </div>-->

        <form enctype="multipart/form-data" method="post" role="form" th:object="${teamUpdateForm}">

            <div class="form-group mb-2">
                <label th:for="name">아이디</label>
                <small class="form-text text-danger">*(영문자 또는 숫자만 가능)</small>
                <input class="form-control" placeholder="아이디를 입력하세요"
                       th:errorclass="is-invalid" th:field="*{name}" type="text"
                       th:oninput="|validateName('${teamUpdateForm.id}', 'team', 'name', 'validateNameResult')|">
                <div class="invalid-feedback" th:errors="*{name}">아이디 오류</div>
                <span id="validateNameResult"></span>
            </div>

            <div class="form-group mb-2">
                <label th:for="status">상태</label>
                <select class="form-control" th:field="*{status}">
                    <option th:if="${session.types == 'master'}"
                            th:each="teamStatus : ${teamStatuses}"
                            th:selected="${teamUpdateForm.status} == ${teamStatus}" th:text="${teamStatus}"
                            th:value="${teamStatus}"/>
                    <option th:if="${session.types == 'team'} and ${teamStatus ne T(com.side.portfolio.demo.status.TeamStatus).MASTER}"
                            th:each="teamStatus : ${teamStatuses}"
                            th:selected="${teamUpdateForm.status} == ${teamStatus}" th:text="${teamStatus}"
                            th:value="${teamStatus}"/>

                </select>
                <div class="invalid-feedback" th:errors="*{status}">상태 오류</div>
            </div>

            <div class="form-group mb-2">
                <label th:for="phNumber">연락처</label>
                <input class="form-control" placeholder="연락처를 입력하세요"
                       th:errorclass="is-invalid" th:field="*{phNumber}" type="tel"
                       oninput="validatePhNumber('phNumber', 'validatePhNumberResult')">
                <div class="invalid-feedback" th:errors="*{phNumber}">연락처 오류</div>
                <span id="validatePhNumberResult"></span>
            </div>

            <div class="form-group mb-2">
                <label th:for="email">이메일</label>
                <input class="form-control" placeholder="이메일을 입력하세요"
                       th:errorclass="is-invalid" th:field="*{email}" type="email"
                       oninput="validateEmail('email', 'validateEmailResult')">
                <div class="invalid-feedback" th:errors="*{email}">이메일 오류</div>
                <span id="validateEmailResult"></span>
            </div>

            <div class="form-group mb-2">
                <label th:for="city">City</label>
                <input class="form-control" placeholder="put City"
                       th:errorclass="is-invalid" th:field="*{city}" type="text">
                <div class="invalid-feedback" th:errors="*{city}">City 오류</div>
            </div>

            <div class="form-group mb-2">
                <label th:for="street">Street</label>
                <input class="form-control" placeholder="put Street"
                       th:errorclass="is-invalid" th:field="*{street}" type="text">
                <div class="invalid-feedback" th:errors="*{street}">Street 오류</div>
            </div>

            <div class="form-group mb-2">
                <label th:for="zipcode">Zipcode</label>
                <input class="form-control" placeholder="put Zipcode"
                       th:errorclass="is-invalid" th:field="*{zipcode}" type="text">
                <div class="invalid-feedback" th:errors="*{zipcode}">Zipcode 오류</div>
            </div>

            <div class="form-group mb-2" th:if="${session.types == 'master'}">
                <label th:for="remark">Remark</label>
                <input class="form-control" placeholder="put Remark"
                       th:errorclass="is-invalid" th:field="*{remark}" type="text">
                <div class="invalid-feedback" th:errors="*{remark}">Remark 오류</div>
            </div>

            <div class="form-group mb-5">
                <label th:for="tickets">Tickets</label>
                <input class="form-control" placeholder="put Tickets"
                       th:classappend="${session.types == 'team'} ? 'readonly-select'"
                       th:errorclass="is-invalid" th:field="*{tickets}" type="number">
                <div class="invalid-feedback" th:errors="*{tickets}">Tickets 오류</div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="button"
                            onclick="confirmEdit()">수정 확정</button>
                </div>

                <div class="col" th:if="${session.types == 'team'}">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/'" type="button">취소
                    </button>
                </div>

                <div class="col" th:if="${session.types == 'master'}">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/team/team-list'" type="button">취소
                    </button>
                </div>
            </div>

        </form>
    </div> <!-- /container -->
</section>

<div th:replace="~{footer :: common-footer}">
    <p>레이아웃 푸터</p>
</div>

<script>
    //스크롤 위치 이동
    window.addEventListener('load', function () {
        const targetElement = document.getElementById('scroll-target');
        if (targetElement) {
            targetElement.scrollIntoView({behavior: 'smooth', block: 'start'});
        }
    });
</script>
<script src="/js/commonfunc.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>