<!-- Navigation-->
<!--<nav class="navbar navbar-light bg-light static-top">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="#!">Home</a>-->
<!--        <a class="navbar-brand" href="#!">Orders</a>-->
<!--        <a class="btn btn-primary" href="#signup">Sign Up</a>-->
<!--    </div>-->
<!--</nav>-->

<!-- 임시 네비게이터 -->
<nav class="navbar navbar-expand-lg bg-light" th:fragment="common-nav">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">Kiosk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"><!-- margin end-auto ; 마진 자동 설정-->

        <!--        <li class="nav-item active"><a th:href="@{/}" class="nav-link">Home</a></li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">팀/판매자 정보</a>-->
<!--          <div class="dropdown-menu">-->
<!--            <a class="dropdown-item" th:href="@{/team/team-list}">팀 목록</a>-->
<!--            <a class="dropdown-item" th:href="@{/seller/seller-list}">판매자 목록</a>-->
<!--            <a class="dropdown-item" th:href="@{/shoplist?categoryKey=2}">중식</a>-->
<!--            <a class="dropdown-item" th:href="@{/shoplist?categoryKey=3}">일식</a>-->
<!--            <a class="dropdown-item" th:href="@{/shoplist?categoryKey=4}">양식</a>-->
<!--          </div>-->
<!--        </li>-->

        <li class="nav-item"><a th:href="@{/notice-list}" class="nav-link">공지사항</a></li>
        <li class="nav-item"><a th:href="@{/about}" class="nav-link">회사소개</a></li>
        <li class="nav-item"><a th:href="@{/item-list}" class="nav-link">전체 상품</a></li>
        <li class="nav-item">
          <a class="nav-link"
             th:if="${session.types} == 'seller'"
             th:href="@{/ordered-list/{sellerId}(sellerId=${session.id})}">주문된 목록</a></li>

        <li class="nav-item">
          <a class="nav-link"
             th:if="${session.types} != 'seller' and ${session.id} != null"
             th:href="@{/order-list}">주문 목록</a></li>

        <li class="nav-item">
          <a class="nav-link"
             th:if="${session.types} != 'seller' and ${session.id} != null"
             th:href="@{/cart-list}">장바구니</a></li>

        <li class="nav-item" th:if="${session.types} == 'master'">
          <a th:href="@{/team/team-list}" class="nav-link">전체 팀 목록</a></li>

        <li class="nav-item" th:if="${session.types} == 'master'">
            <a th:href="@{/seller/seller-list}" class="nav-link">전체 판매자 목록</a></li>

      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" th:if="${session.id} == null" ><a th:href="@{/login}" class="nav-link">로그인</a></li>
        <li class="nav-item" th:if="${session.id} == null" ><a th:href="@{/signup}" class="nav-link">회원가입</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" th:if="${session.id} != null"
             th:text="'Welcome! '+${session.name}"></a>
          <div class="dropdown-menu" th:if="${session.types} == 'team'">
            <a th:href="@{/seller/partner-seller-list/{teamId}(teamId=${session.id})}" class="dropdown-item">제휴된 판매자 목록</a>
<!--            <a th:href="@{/cart-list}" class="dropdown-item">장바구니</a>-->
<!--            <a th:href="@{/templates/basic/signout}" class="dropdown-item">회원 탈퇴</a>-->
          </div>
        </li>


        <form th:if="${session.id != null}" class="nav-item" action="/logout" method="post">
          <button type="submit" class="btn btn-link nav-link">로그아웃</button></form>

      </ul>
    </div>
  </div>
</nav>
<!-- 임시 네비게이터 끝-->

<!-- Masthead-->
<header class="masthead" th:fragment="common-header">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-auto">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="my-auto">Welcome to Kiosk Project!</h1>
          <!-- Signup form-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
<!--          <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--            &lt;!&ndash; Email address input&ndash;&gt;-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />-->
<!--                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>-->
<!--                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>-->
<!--              </div>-->
<!--              <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--            &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--            &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--            <div class="d-none" id="submitSuccessMessage">-->
<!--              <div class="text-center mb-3">-->
<!--                <div class="fw-bolder">Form submission successful!</div>-->
<!--                <p>To activate this form, sign up at</p>-->
<!--                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--            &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--            &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
</header>